<!-- Oksana Koshulap, 301167025, June 4, 2021-->

<!-- Conten of home page --> 
<div class= "container">
  <h6 class="display-6">About Me</h6>
  <p> </p>
  <img src="/public/Assets/images/oksana_koshulap.jpg" alt="logo" width=auto height="450" class="rounded float-right">



</div>