<!-- Oksana Koshulap, 301167025, June 4, 2021-->

<!-- Conten of home page --> 
<div class= "container">
  <h6 class="display-6" style="color:#336699">Mission Statement:</h6>
  <p class="display-6">“To provide great work ethics and use my knowledge to solve modern issues with help of technology and science.” <br><br>
 </p>
 
</div>