<!-- Oksana Koshulap, 301167025, June 4, 2021-->

<!-- Conten of home page --> 
<div class= "container">
  <h6 class="display-6" style="color:#336699">Database Maintenance</h6>
  <p class="text-muted"> One of my current projects that I’m working on is data engineering at a hospital research group. There I’m responsible to maintain a database so the data tables are connected properly and are updated correctly.</p>

  <h6 class="display-6" style="color:#336699">To Do List </h6>
   <p class="text-muted"></p>

  <h6 class="display-6" style="color:#336699">AI Project</h6>
   <p class="text-muted"></p>

</div>