<!-- Oksana Koshulap, 301167025, June 4, 2021-->

<!-- Conten of home page --> 
<div class= "container">
  <h6 class="display-6" style="color:#336699">Database Maintenance</h6>
  <p class="text-muted"></p>

  <h6 class="display-6" style="color:#336699">To Do List </h6>
   <p class="text-muted"></p>

  <h6 class="display-6" style="color:#336699">AI Project</h6>

</div>