<!-- Oksana Koshulap, 301167025, June 4, 2021-->

<!-- Conten of home page --> 
<div class= "container">
<br><br>
  <h6 class="display-6">Some of the services that I provide:</h6>
  <ul class="display-6" style="color:#336699">  
  <li>Web Development</li>
  <li>Data Engineering </li>
  <li>Data Engineering </li>
  </ul>
</div>