<!-- Oksana Koshulap, 301167025, June 4, 2021-->

<!-- Conten of home page --> 
<div class= "container">
<br><br>
  <h6 class="display-6">Some of the services that I provide:</h6>
  <ul class="display-6" style="color:#336699">  
  <li>Web Development <img src="/public/Assets/images/web.png" alt="list" width=auto height="120" class="rounded float-right"></li>
  <li>Data Engineering <img src="/public/Assets/images/list.png" alt="list" width=auto height="80" class="rounded float-right"> </li>
  <li>Data Engineering </li>
  </ul>
</div>