<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>



<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1>Create Questions</h1> 
            <div class="table-responsive">
            <table class="table table-primary table-sm table-bordered table-striped table-hover  ">
                <tr>
                   <th class="text-center col-1">Number</th>
                    <th class="text-center col-10">Question</th>
                    <th class="text-center col-6">Question Type</th>
                     <th class="text-center col-3">Clear</th>

                </tr>
               < class="text-center col-1">
               
               <td>  <form class="form" method="POST">
                <div class="form-group">
                    
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter a question"
                    name="question1" required>
                </div>
               <td>
                 
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Short Answer</button>
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> T/F </button>
                    <td> <a href="/survey-view/delete/"> <button class="btn btn-danger btn-sm">  
                    <i class="fas fa-trash-alt"></i> Clear</button></td></a>
              
                </tr>
                    <tr class="text-center col-1">
               <td>  <form class="form" method="POST">
                <div class="form-group">
                 
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter a question"
                    name="question2" required>
                </div>
               <td>
                 
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Short Answer</button>
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> T/F </button>
                  <td> <a href="/survey-view/delete/"> <button class="btn btn-danger btn-sm">  
                    <i class="fas fa-trash-alt"></i> Clear</button></td></a>
                </tr>
                    <tr class="text-center col-1">
               <td>  <form class="form" method="POST">
                <div class="form-group">
               
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter a question"
                    name="question3" required>
                </div>
               <td>
                 
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Short Answer</button>
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> T/F </button>
                    <td> <a href="/survey-view/delete/"> <button class="btn btn-danger btn-sm">  
                    <i class="fas fa-trash-alt"></i> Clear</button></td></a>
                </tr>
                    <tr class="text-center col-1">
               <td>  <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField"></label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter a question"
                    name="question4" required>
                </div>
               <td>
                 
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Short Answer</button>
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> T/F </button>
                    <td> <a href="/survey-view/delete/"> <button class="btn btn-danger btn-sm">  
                    <i class="fas fa-trash-alt"></i> Clear</button></td></a>
                </tr>
                    <tr class="text-center col-1">
               <td>  <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField"></label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter a question"
                    name="question5"  required>
                </div>
               <td>
                 
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Short Answer</button>
                    <button class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> T/F </button>
                    <td> <a href="/survey-view/delete/"> <button class="btn btn-danger btn-sm">  
                    <i class="fas fa-trash-alt"></i> Clear</button></td></a>
                </tr>
          <br><br> <br>
        
            </form>
            </tr>
               </table>
                <a  href="/survey-view" > <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Generate Survey</button> </a> 
                
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
        </div>
        </div>


    </div>
</div>





<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  