<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>






<!-- view survey should have submit button--> 
<p> New surveys</p>






<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  