<!-- Team: Group 8
  Web site name : Pandora-Survey
  Date : July 18, 2021
  Author's names & Student IDs:
  Oksana Koshulap: 301167025
  Remedios Meneses: 300691712
  Anmary Gain: 301152014 
  Tesmine Poulose: 301151876
  Sapna: 301152192 -->

<!-- Conten of about page -->

<style>
 #font{
      color: #2E8BC0  ;
      font-family: Arial, Helvetica, sans-serif;

    }
#font2{
     color: #2E8BC0  ;

       font-family: "Lucida Console", "Courier New", monospace;
    }
</style>
<body>
    <div class="about-section" style="text-align: center;">
      <h1 class="display-" class id="font"><%= title %></h1>
          <h5>Welcome to the page and feel free to leave any questions and concerns.</h5>
     
      <p><a href="../public/Assets/images/logo.png"><img src="../public/Assets/images/logo.png" alt="Pandora" width="auto" height="200"></a></p>
      <h6>Click the link below to view larger photo</h6>  <br><br>
      <h3>
        <p>Pandora Survey was derived from the myth of Pandora's Box.<br></p>
        <p>Pandora's box is an artifact in Greek mythology connected with the myth of Pandora in Hesiod's Works and Days<br></p>
        <p>He reported that curiosity led her to open a container left in care of her husband, thus releasing physical and emotional curses upon mankind.<br></p></h3>
          <br><br>

             <img src="../public/Assets/images/pandora_il.png" alt="Pandora" width=auto height="400" class="center">
      </div>


   
      
</body>
