<!-- Oksana Koshulap, 301167025, June 4, 2021-->

<!-- Conten of about page -->

<body>
    <div class="about-section" style="text-align: center;">
      <h1 class="display-"><%= title %></h1>
      Click the link below to view larger photo
      <p><a href="/Assets/images/pandora.png"><img src="/Assets/images/pandora.png" alt="Remedios" width="280" height="130"></a></p>
        <p>Pandora Survey was derived from the myth of Pandora's Box.<br></p>
        <p>Pandora's box is an artifact in Greek mythology connected with the myth of Pandora in Hesiod's Works and Days<br></p>
        <p>He reported that curiosity led her to open a container left in care of her husband, thus releasing physical and emotional curses upon mankind.<br></p>
        <h5>Welcome to the page and feel free to leave any questions and concerns.</h5>
      </div>
</body>
