<!-- Oksana Koshulap, 301167025, June 4, 2021-->

<!-- Conten of home page --> 
<div class= "container">
<br><br>
  <p id="standout">Mission Statement</p>
  <p class="display-6"><br><br>
 </p>

   <button type="button" class="btn btn-dark" onclick="window.location.href='./survey-list/add'">Create Here</button>
 
</div>