<!-- Team: Group 8
  Web site name : Pandora-Survey
  Date : July 18, 2021
  Author's names & Student IDs:
  Oksana Koshulap: 301167025
  Remedios Meneses: 300691712
  Anmary Gain: 301152014 
  Tesmine Poulose: 301151876
  Sapna: 301152192 -->

<!-- Conten of home page --> 
<div class= "container">
<br><br>


 <!-- Main Content -->
  <main class="container">
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }

      /* Style the header */
      .header {
        padding: 80px;
        text-align: center;
        background: #1abc9c;
        color: white;
      }

      /* Increase the font size of the h1 element */
      .header h1 {
        font-size: 40px;
      }

      /* Style the top navigation bar */
      .navbar {
        overflow: hidden;
        background-color: #333;
      }

      /* Style the navigation bar links */
      .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
      }

      /* Right-aligned link */
      .navbar a.right {
        float: right;
      }

      /* Change color on hover */
      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }
      </style>
      </head>
      <body>

      <div class="header">
        <h1>Welcome to Pandora Survey Creator Service </h1>
        <p style="text-align: center; font-size: small">You may use this tool to design and respond to surveys.</p>
      </div>
      </body>
  </main>
 <!-- Content for Main page-->
<main class="container">


    <h1 class="display-5"> Survey Creation</h1>


    <p>To see the available surveys, click the left button. <br>
      To make your own survey, click the right-hand button.
    </p>



  <button type="button" class="btn btn-info" onclick="window.location.href='/survey-view'">Survey List</button>
  <button type="button" class="btn btn-info" onclick="window.location.href='./survey-list/'">Create Survey</button>
</main>
   
</div>