<!-- Team: Group 8
  Web site name : Pandora-Survey
  Date : July 18, 2021
  Author's names & Student IDs:
  Oksana Koshulap: 301167025
  Remedios Meneses: 300691712
  Anmary Gain: 301152014 
  Tesmine Poulose: 301151876
  Sapna: 301152192 -->

<!-- Conten of home page --> 
<div class= "container">
<br><br>


 <!-- Main Content -->
  <main class="container">
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
      }

      /* Style the header */
      .header {
        padding: 80px;
        text-align: center;
        background: #FFB6C1;
        color: white;
      }

      /* Increase the font size of the h1 element */
      .header h1 {
        font-size: 40px;
      }

      /* Style the top navigation bar */
      .navbar {
        overflow: hidden;
        background-color: #333;
      }

      

      /* Right-aligned link */
      .navbar a.right {
        float: right;
      }
      body {
    background: #bbb;
    text-align: center;
    }  
    #button {
      background-color: wheat; 
      border: none;
      border-radius: 15px;
      color: darkslateblue;
      padding: 5px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 9px;
    }
    #buttontwo {
      background-color: wheat; 
      border: none;
      border-radius: 15px;
      color: darkslateblue;
      padding: 5px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 9px;
    }


     
      </style>
      </head>
      <body>

      <div class="header">
        <h1>Welcome to Pandora Survey Creator Service </h1>
        <p style="text-align: center; font-size: small">You may use this tool to design and respond to surveys.</p>
      </div>
      </body>
  </main>
 <!-- Content for Main page-->
<main class="container">

<br><br>
    <h1 class="display-5"> Survey Creation</h1>
    <br><br>
  <img src="/public/Assets/images/audience.png" alt="services" width=auto height="450" class="rounded float-right">


<br><br>
  <button type="button" class="btn btn-info" onclick="window.location.href='/survey-view'">Start Survey</button>
  <button type="button" class="btn btn-info" onclick="window.location.href='./survey-list/add'">Create Survey</button>
</main>
   
</div>