<!-- Team: Group 8
  Web site name : Pandora-Survey
  Date : July 18, 2021
  Author's names & Student IDs:
  Oksana Koshulap: 301167025
  Remedios Meneses: 300691712
  Anmary Gain: 301152014 
  Tesmine Poulose: 301151876
  Sapna: 301152192 -->

<!-- Conten of services page --> 


<style>
 #font{
      color: #2E8BC0  ;
      font-family: Arial, Helvetica, sans-serif;

    }

    #font2{
      color:#7FB3D5 ;
      font-family: Arial, Helvetica, sans-serif;

    }
  #font3{
      color: #7FD5B3 ;
      font-family: Arial, Helvetica, sans-serif;

    }
  
</style>


<div class= "container" class id="font2">
 <div class="container-fluid text-center">
 <br>
  <h2 class id="font">SERVICES</h2>
  <h5>What we offer to our valuable customers</h5>
  
  <br><br>
  
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off"></span>
      <h4>ENGAGE</h4>
      <p><i>Understand and improve employee engagement</i></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h4>AUDIENCE</h4>
          <p> <i>We collect survey responses from our global consumer panel </i></p>
          
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock"></span>
      <h4>JOB DONE</h4>
      <p><i>Completed works on time</i> </p>
    </div>
    </div>

    <img src="/public/Assets/images/engage.png" alt="services" width=auto height="450" class="rounded float-right">





    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf"></span>
      <h4>APPLY</h4>
      <p><i>Improve customer experiences.</i></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate"></span>
      <h4>CERTIFIED</h4>
      <p><i>Ensure good quality and certified products </i> </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench"></span>
      <h4>GETFEEDBACK </h4>
      <p><i>Collect feedbacks from our customers</i></p>
    </div>
  </div>
</div>
</div>